In [1]:
import numpy
import pandas as pd

In [2]:
df=pd.read_csv("IRIS.csv")
df.head()

   sep_len  sep_width  pet_len  pet_size      species
0      4.9        3.0      1.4       0.2  Iris-setosa
1      4.7        3.2      1.3       0.2  Iris-setosa
2      4.6        3.1      1.5       0.2  Iris-setosa
3      5.0        3.6      1.4       0.2  Iris-setosa
4      5.4        3.9      1.7       0.4  Iris-setosa

In [6]:
# converting the qualitative data into quantitive data

df['species']=df['species'].map({'Iris-setosa':0,'Iris-versicolor':
1,'Iris-virginica':2})

In [8]:
df.head()

   sep_len  sep_width  pet_len  pet_size  species
0      4.9        3.0      1.4       0.2        0
1      4.7        3.2      1.3       0.2        0
2      4.6        3.1      1.5       0.2        0
3      5.0        3.6      1.4       0.2        0
4      5.4        3.9      1.7       0.4        0

In [9]:
 df['species'].unique()

array([0, 1, 2], dtype=int64)

In [10]:
# identifying the input data and target i.e output data

x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [12]:
print(x)

     sep_len  sep_width  pet_len  pet_size
0        4.9        3.0      1.4       0.2
1        4.7        3.2      1.3       0.2
2        4.6        3.1      1.5       0.2
3        5.0        3.6      1.4       0.2
4        5.4        3.9      1.7       0.4
..       ...        ...      ...       ...
144      6.7        3.0      5.2       2.3
145      6.3        2.5      5.0       1.9
146      6.5        3.0      5.2       2.0
147      6.2        3.4      5.4       2.3
148      5.9        3.0      5.1       1.8

[149 rows x 4 columns]

In [13]:
print(y)

0      0
1      0
2      0
3      0
4      0
      ..
144    2
145    2
146    2
147    2
148    2
Name: species, Length: 149, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

In [27]:
#dividing the training data and testing data

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)

In [34]:
 from sklearn.linear_model import LogisticRegression

In [37]:
model = LogisticRegression()
md=model.fit(x_train, y_train)

In [41]:
y_pred=md.predict(x_test)

In [42]:
from sklearn.metrics import accuracy_score

In [43]:
#checking accuracy rate for our logistic model

print(accuracy_score(y_pred,y_test))

0.9111111111111111

In [44]:
#testing with our own data

print("ENter the the Sepal length")
a=input()
print("Enter the sepeal width: ")
b=input()
print("enter petal length : ")
c=input()
print("Enter the petal width: ")
d=input()

ENter the the Sepal length

 2.1

Enter the sepeal width:

 3.4

enter petal length :

 4.2

Enter the petal width:

 4.5

In [48]:
personal_input_data = {
'sep_len': [a],
'sep_width': [b],
'pet_len': [c],
'pet_size': [d]
}

In [49]:
 personal_input_df = pd.DataFrame(personal_input_data)

In [50]:
pred = model.predict(personal_input_df)

In [52]:
if pred==0:
    print("Bro!! Flower Colour is Iris-Setosa")
elif pred==1:
    print("Bro!!! Flower Colour is Iris-VeriColour")
else:
    print("Bro !! Flower colour is Iris=Virgina")

Bro !! Flower colour is Iris=Virgina